### Gradle ###
.gradle/
gradle/
gradlew
gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
buid/
*/build/
/build/

### IntelliJ IDEA ###
.idea
*/.idea
*.iws
*/*.iws
*.iml
*/*.iml
*.ipr
*/*.ipr
/out/
*/out/

/logs/
logs/
*/logs/


*.jar

.DS_Store
/.DS_Store
*/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


/volumes/**/**
!/volumes/elasticsearch/tmp
!/volumes/pgdata/tmp
!/volumes/redisdata/tmp

config/nginx-dev/nginx-logs/**
!config/nginx-dev/nginx-logs/tmp

config/nginx-prod/nginx-logs/**
!config/nginx-prod/nginx-logs/tmp

config/elk/curator/curator-log
!config/elk/curator/curator-log/tmp
/notification/src/main/resources/google-services.json
