<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="PATTERN_STDOUT"
              value="%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable"/>

    <appender name="LOGGING_APPENDER" class="com.gliesereum.share.common.logging.appender.LoggingAppender"/>

    <root level="INFO">
        <appender-ref ref="LOGGING_APPENDER"/>
    </root>

</configuration>